<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=bardhiproper1;Integrated Security=True;MultipleActiveResultSets=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <!-- Kendrix API Configuration -->
        <add key="KendrixApi.BaseUrl" value="https://client.kendrix.org/api" />
		<add key="KendrixApi.JwtSecret" value="07f4a506-dce2-4792-8b46-d6f3f1ca4796" />
		<add key="KendrixApi.TenantKey" value="E0B2-F197-00DE-F86B-5203-136E-BF1C-9B1E" />
        <add key="KendrixApi.SyncIntervalMinutes" value="1" />
        <add key="KendrixApi.BatchSize" value="100" />
        <add key="KendrixApi.RetryAttempts" value="3" />
        <add key="KendrixApi.RetryDelaySeconds" value="30" />
        
        <!-- Sync Settings -->
        <add key="SyncSettings.EnableSync" value="true" />
        <add key="SyncSettings.EnableLogging" value="true" />
        <add key="SyncSettings.LogLevel" value="Information" />
    </appSettings>
</configuration>